venv/
__pycache__/
*.pyc
*.bak
*.bak_*
backups/
imagenes_medicamentos/
MEDICAMENTOS/
MEDICAMENTOS_LIMPIOS/
FOTOS_MEDICAMENTOS_FINAL/
FOTOS_CATALOGO_APP/
FOTOS_RENOMBRADAS/
IMAGENES/
TODASLASIMG/
static/importaciones/
farmacias-especialidad-madrid/
farmacias_madrid_backend-v01/
*.xlsx
*.csv
*.zip
*.tar.gz
*.log
